html,
body {
  margin: 0;
  padding: 0;
  background-color: #202029;
}
header {
  display: grid;
  background-image: url('../public/assets/header.jpg');

  background-color: #202029;
  margin-bottom: 0.2em;
  height: 30%;
  width: 100%;
  color: rgb(26, 150, 15);
  font-size: larger;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    'h1  user'
    'nav nav';
}
#userLog {
  grid-area: user;
  margin-right: 1em;
  text-align: right;
}
header h1 {
  margin: auto;
  margin-bottom: 1em;
  grid-area: h1;
}
header button, .signing button {
  border-radius: 0.8em;
  border: 1px transparent;
  margin: 0.2em;
  font-size: large;
  padding: 0.5em;
  background-color: rgb(18, 95, 37);
  color: beige;
}
header button:hover, .signing button:hover {
  background-color: rgb(21, 141, 10);
}
#nav button{
  text-align: center;
  width:9em;
}
#error {
  text-align: center;
  margin-top: 3em;
}
#userPhoto {
  border-radius: 1.5em;
  border: 1px solid whitesmoke;
}
#game canvas{
  cursor: none;
}
#nav {
  height: 2.5em;
  margin-top: auto;
  float: center;
  grid-area: nav;
  margin-right: 11em;
  margin-bottom: 0.5em;
}
#nav button {
  float: right;
}
#chatContainer {
  width: 56vw;
  max-height: 100%;
}
#chat {
  margin-top: 0.5em;
  height: 33.1em;
  overflow-y: scroll;
  background-color: #202029;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  color: rgb(28, 163, 16);
}

#message-input {
  white-space: pre-line;
  width: 80%;
  height: 2.5em;
  bottom: 0;
}
#message-btn {
  padding: 0.7em;
  width: 5vw;
}
#loggedUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1.5em;
}
.signing{
  margin: 0.5em;
  height: 37.5em;
  text-align: center;
  color: rgb(26, 150, 15);
  background-color: #202029;
}
#signUpForm input{
width: 13em;
height: 2em;
border-radius: 0.2em;
margin: 0.1em;
}
#signUpForm{
  margin:auto;
  display:table;
}
#signUpForm p{
display:table-row;
}
#signUpForm label{
display:table-cell;
}
#signUpForm input{
  display:table-cell;
}
.list {
  list-style: none;
  margin: 0.1em;
}
#about{
  text-align: center;
  color: rgb(26, 150, 15);
  background-color: #202029;
  margin-top: 0.5em;
  height: 37.5em;
}
#main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rgb(192, 192, 192);
  grid-template-areas:
    'game  right-section'
    'game  right-section'
    'game  right-section';
}
#game {
  margin-right: 0.2em;
  width: 820px;
  height: 620px;
  grid-area: game;
}
#game canvas {
  margin: 0.5em;
}
#rightSection {
  border: 1px solid red;
  text-align: center;
  grid-area: right-section;
}

